

#date-container {
    text-align: center;
    width: 100%;
    
    
}

#reservation{
    width: 600px;
    height: 700px;
    background-color: rgba(61, 70, 197, 0.6);
    position: absolute;
    margin: auto;
    z-index: 2;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: -100px;
    border-radius: 5%;
    padding: 2%;
    
    display: flex;
    flex-direction: column;
    row-gap: 30px
}

#reservation input{
   
    width: 100%;
}

#reservation textarea{
   
    width: 100%;
}



#table1 {
    height: 50px;
    width: 50px;
    background-color: red;
}

#tables {
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}


#tables button:hover {
    background-color: rgb(187, 34, 34);
}

#tables button {
    width: 150px;
    height: 100px;
    background-color: red;
    border-radius: 5px;
    text-align: center;
    padding-top: 20px;
    font-size: 30px;
}

.labl {
    display : inline-block;
    width: 400px;
}
.labl > input{ /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
}
.labl > input + div{ /* DIV STYLES */
    cursor:pointer;
    border:2px solid transparent;
    text-align: center;
}
.labl > input:checked + div{ /* (RADIO CHECKED) DIV STYLES */
    background-color: #ffd6bb;
    border: 1px solid #ff6600;
}
