

#date-container {
    text-align: center;
    width: 100%;
    
    
}

#reservation {
    width: 600px;
    height: 700px;
    background-color: rgba(61, 70, 197, 0.6);
    position: absolute;
    margin: auto;
    z-index: 2;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: -550px;
    border-radius: 5%;
    padding: 2%;
    
    display: flex;
    flex-direction: column;
    row-gap: 30px
}
#edit_reservation {
    width: 600px;
    height: 350px;
    background-color: rgba(61, 70, 197, 0.7);
    position: absolute;
    margin: auto;
    z-index: 2;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: -550px;
    border-radius: 5%;
    padding: 2%;
    
    display: flex;
    flex-direction: column;
    row-gap: 30px
}

#reservation input{
   
    width: 100%;
}

#reservation textarea{
   
    width: 100%;
}

#buttons a, div{
    display: inline-block;
}


#image-container {
    width: 638px;
    background-color: aqua;
    background-image: url('https://res.cloudinary.com/dzwpkjbhq/image/upload/v1682368129/static/summernote/Coffee-Shop-Layout-3D_pbdlsm.jpg');
    background-repeat: no-repeat;
    height: 489px;
    padding-left: 6px;
}


#tables {
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    
    
    height: 500px;
    align-items: center;
    padding: auto auto;
}

.Table {
    background-color: rgba(61, 197, 84, 0.6);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-left: 70px;
    margin-top: 145px;
    margin-right: 65px;  
    margin-bottom: 0px;
    font-size: 20px;
    padding-top: 10px;
}

#Table4{
    position: absolute;
    margin-left: -450px;
    margin-top: 95px;
}

#Table5{
    position: absolute;
    margin-left: 391px;
    margin-top: 41px;
}

#tables button:hover {
    background-color: rgb(187, 34, 34);
}

.Table button {
    width: 150px;
    height: 100px;
    background-color: red;
    border-radius: 5px;
    text-align: center;
    padding-top: 20px;
    font-size: 30px;
}


.labl > input{ /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
}
.labl > input + div{ /* DIV STYLES */
    cursor:pointer;
    border:2px solid transparent;
    text-align: center;
}
.labl > input:checked + div{ /* (RADIO CHECKED) DIV STYLES */
    background-color: #ffd6bb;
    border: 1px solid #ff6600;
}


#hero-image {
    width: 100%;
}

#hero-image img{
    width: 100%;
}

#title {
    width: 100%;
    height: 300px;
    padding-top: 100px;
    text-align: center;
}

#title h1 {
    
}

.btn {
    background-color: aquamarine;
}

#your_reservations {
    width: 100%;
    margin-top: 50px;
    text-align: center;
}

#your_reservations h2{
    margin-bottom: 50px;  
}

#reservation_list {
    list-style: none;
}

#edit {
    margin-left: 100px;
}


.comments {
    display: block;
}