{% load static %}

<!DOCTYPE html>
<html class="h-100">

<head>
    <title>Burger Bar</title>
    <link rel="icon" href="https://res.cloudinary.com/dzwpkjbhq/image/upload/v1689693601/static/summernote/smallburger_juxviw.png" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="script" href="{% static 'js/scripts.js' %}">
    <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
    </script>
    <script type="text/javascript">
    (function(){
        emailjs.init("kjQbucoAksayHpm_y");
    })();
    </script>
</head>

<body class="d-flex flex-column h-100 main-bg">

    <!-- Navigation -->

    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container-fluid">
            <a class="navbar-brand" href=""><span class="brand">Burger<span
                        class="thin">|bar</span></span></span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/reservations">Book your Table</a>
                    </li>
                    
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                    </li>
                    {% endif %}

                </ul>
                <span class="navbar-text text-muted">
                    best burger in town
                </span>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                {% for message in messages %}
                    <div class="alert {{message.tags}} alert-dismissible fade show" id="msg" role="alert">
                        {{ message | safe }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <main class="flex-shrink-0 main-bg main">
        
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
    </main>
  
    <!-- Footer -->
    <footer class="footer mt-auto py-3 dark-bg">
        <p class="m-0 text-center text-white">Made by Marko</p>
        <p class="m-0 text-center text-white">Follow us:<a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-square ms-3"></i></a>
            <a href="https://www.twitter.com/" target="_blank"><i class="fab fa-twitter-square ms-3"></i></a>
            <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram-square ms-3"></i></a>
            <a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube-square ms-3"></i></p></a>         
    </footer>

    <script>

        function sendMail(contactForm) {
            emailjs.send("service_gcql1ag","template_plus06x", {
                "from_name": contactForm.name.value,
                "from_email": contactForm.email.value,
                "message": contactForm.date.value,
                "table_nr": contactForm.Table.value,
            })
        }

        var occupied_dates = [];
        var occupied_tables = [];
        {% for date in dates %}
            var date = "{{date.reservation_date}}"
            var table = "{{date.table}}"
            occupied_dates.push(date.slice(0,-10))
            occupied_tables.push(table)
        {% endfor %}
        
        var emails = []
    
        {% for reservation in reservations %}
            var email = "{{reservation.email}}"
            emails.push(email)   
        {% endfor %}

        let liElements = document.getElementsByClassName('your_booked-dates');
        var indexes = getAllIndexes(emails, "{{user.email}}");
        var tables = document.getElementsByClassName('Table');
 
        function getAllIndexes(arr, val) {
            var indexes = [], i = -1;
            while ((i = arr.indexOf(val, i+1)) != -1){
                indexes.push(i);
                }
            return indexes;
        }

        for (let i=0; i<indexes.length; i++){
            liElements[indexes[i]].removeAttribute('hidden')
        }

        function message() {
            document.getElementById("msg2").innerHTML = 'Please select date first!'
            document.getElementById("msg2").style.backgroundColor = ' rgb(250, 161, 126)'
        }

        var date = document.getElementById('date')
        date.addEventListener("change",() =>{
            addOnclick();
            searchDates();
            if (document.getElementById("msg2").innerHTML != ""){
                document.getElementById("msg2").remove();
                for (let i=0; i<occupied_dates.length; i++) {
                document.getElementById("table"+occupied_tables[i]).removeAttribute('onclick');
                }
            }  
        });

        function addOnclick() {
            for (let i = 1; i <= 5; i++) {
                document.getElementById("Table" + i).onclick = inputDataWindow;
            }
        }
       
        function searchDates() {
            for (let i=0; i<occupied_dates.length; i++) {
                document.getElementById("Table"+occupied_tables[i]).style.backgroundColor='rgb(161, 208, 219)'
                document.getElementById("Table"+occupied_tables[i]).setAttribute('onclick', 'inputDataWindow()');
            }
            let clickedDate = new Date(event.target.value); 
            formattedDate = clickedDate.toLocaleDateString("en-US", { 
                year: 'numeric', 
                month: 'long', 
                day: 'numeric', 
            });
            var dateCorected = formattedDate
            for (let i=0; i<occupied_dates.length; i++) {
                if(occupied_dates[i] == dateCorected) {
                    document.getElementById("Table"+occupied_tables[i]).style.backgroundColor='red';
                    document.getElementById("Table"+occupied_tables[i]).removeAttribute('onclick');
                    document.getElementById("Table"+occupied_tables[i]).addEventListener("click", () => {
                        document.getElementById("msg3").innerHTML = `That table is already occupied!`
                        document.getElementById("msg3").style.backgroundColor = ' rgb(250, 161, 126)'
                        setTimeout(() => {
                            document.getElementById("msg3").innerHTML = '';
                            document.getElementById("msg3").style.backgroundColor = 'transparent';
                        }, 2000);
                    } )
                    
                }
            }
        }

       

        function inputDataWindow(){
            let reservation_container = document.getElementById("reservation")
                reservation_container.removeAttribute("hidden")
            }
        
        
        function edit(date_id) {
            if (document.getElementById("reservation").hidden) {
                let editReservations = document.getElementsByClassName("edit_reservation");
                for (let i = 0; i < editReservations.length; i++) {
                    if (!editReservations[i].hidden) {
                        return;
                    }
                }

                document.getElementById("edit_reservation" + date_id).removeAttribute("hidden");
                let edit_form = document.getElementById("edit_form" + date_id);
                let reservation_id = parseInt(date_id) + 165;
                let phonePlaceholder = "";
                let commentPlaceholder = "";

                {% for reservation in reservations %}
                if ({{reservation.id}} === reservation_id) {
                    phonePlaceholder = "{{reservation.phone_number}}";
                    commentPlaceholder = "{{reservation.comment}}";
                }
                {% endfor %}

                document.getElementById("new_phone" + date_id).setAttribute("placeholder", phonePlaceholder);
                document.getElementById("new_comment" + date_id).setAttribute("placeholder", commentPlaceholder);
            }
        }


        function close_edit_container(date_id) {
            document.getElementById("edit_reservation" + date_id).setAttribute('hidden', 'true');
        }

        function confirm_comment_delete(x) {
            document.getElementById("delete_comment" + x).removeAttribute('hidden');
            document.getElementById("delete_comment_button" + x).setAttribute('hidden', 'true');
        }

        function close_delete_comment(x) {
            document.getElementById("delete_comment" + x).setAttribute('hidden', 'true');
            document.getElementById("delete_comment_button" + x).removeAttribute('hidden');
        }

        function open_delete_window(x) {
            document.getElementById("delete_date" + x).removeAttribute('hidden');
            document.getElementById("delete_comment_btn" + x).setAttribute('hidden', 'true');
            document.getElementById("edit" + x).setAttribute('hidden', 'true');
        }

        function close_delete_window(x) {
            document.getElementById("delete_date" + x).setAttribute('hidden', 'true');
            document.getElementById("delete_comment_btn" + x).removeAttribute('hidden');
            document.getElementById("edit" + x).removeAttribute('hidden');
        }

        function close_reservation_window() {
            document.getElementById("reservation").setAttribute('hidden', 'true');
        }

        
    </script>
</body>
</html>