{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}
<div id="title">
    <h1>{{ user}}, Welcome to home of Burger</h1>

{% else %}
    <h1>Welcome to home of Burger</h1>
{% endif %}
    <p>Feast your eyes on mighties burger in your town and look rewievs of our satisfied coustemers underneath</p>
</div>
<div id="hero-image">
    <img src="https://res.cloudinary.com/dzwpkjbhq/image/upload/v1682372834/static/summernote/burger-g91eecda72_1920_ooc2lr.jpg" alt="burger" cover>
</div>



{%endblock%}