{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

{% if user.is_authenticated %}
<div id="title">
    <h1>{{ user|capfirst }}, Welcome to home of Burger</h1>

{% else %}
    <h1>Welcome to home of Burger</h1>
{% endif %}
    <p id="wellcome_message">Feast your eyes on mighties burger in your town and look rewievs of our satisfied coustemers underneath</p>
</div>
<div id="hero-image">
    <img src="https://res.cloudinary.com/dzwpkjbhq/image/upload/v1682372834/static/summernote/burger-g91eecda72_1920_ooc2lr.jpg" alt="burger" cover>
</div>

<div class="row">
    <div class="col-md-8 card mb-4  mt-3 ">
        <h3>Comments:</h3>
        <div class="card-body">

            <!-- We want a for loop inside the tags to iterate through each comment in comments -->
            {% for comment in comments %}
            <div class="comments" style="padding: 10px;">
                <p class="font-weight-bold">
                    <!-- The commenter's name goes here. Check the model if you're not sure what that is -->
                    {{ comment.name|capfirst }}
                    <span class=" text-muted font-weight-normal">
                        <!-- The comment's created date goes here -->
                        {{ comment.created_on }}
                    </span> wrote:
                </p>
                <!-- The body of the comment goes before the | -->
                {{ comment.body | linebreaks }}

                {% if request.user.username == comment.name %}
                    <button id="delete_comment_button{{comment.id}}" onclick="confirm_comment_delete('{{comment.id}}')">Delete Comment</button>
                    <div id="delete_comment{{comment.id}}" hidden>
                        <p>Delete your comment?</p>
                        <a href="/delete_comment/{{ comment.id }}">
                            <button>Delete</button>
                        </a>
                        <button onclick="close_delete_comment('{{comment.id}}')">No</button>
                    </div>
                    
                    
                      
                {% endif %}
            </div>
            
            <!-- Our for loop ends here -->
            {% endfor %}
        </div>
    </div>
    
    <div class="col-md-4 card mb-4  mt-3 ">
        <div class="card-body">
            {% if user.is_authenticated %}
            <h3>Leave a comment:</h3>
            <p>Posting as: {{ user.username }}</p>
            <form method="post" style="margin-top: 1.3em;">
                {{ comment_form| crispy}}
                {% csrf_token %}
                <button type="submit" class="btn btn-signup btn-lg">Submit</button>
            </form>
            {% endif %}
        </div>
    </div>
</div>

{%endblock%}