{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<form method="post" action="">
    {% csrf_token %}
    
    <div  id="date-container">
        <label for="start">Resve your table:</label>

        <input type="date" id="date" name="reservation_date" min="{{ today }}"max="2030-12-31" required>
    </div>
   
    <div id="tables">

        <div id="image-container">
            <label class="labl">
                <input type="radio" name="Table" value="1"/>
                <div class="Table" id="Table1">Table 1</div>
            </label>
            <label class="labl">
                <input type="radio" name="Table" value="2" />
                <div class="Table" id="Table2">Table 2</div>
            </label>
            <label class="labl">
                <input type="radio" name="Table" value="3"/>
                <div class="Table" id="Table3">Table 3</div>
            </label>
            <label class="labl">
                <input type="radio" name="Table" value="4" />
                <div class="Table" id="Table4">Table 4</div>
            </label>
            <label class="labl">
                <input type="radio" name="Table" value="5"/>
                <div class="Table" id="Table5">Table 5</div>
            </label>
        </div>
    </div>
    <div id="reservation"  hidden>
        <div>
            <label for="name">Enter your name:</label>
            <br>
            <input id="name" value="{{user}}" placeholder="{{user}}" name="name" type="text" required>
        </div>
        <div>
            <label for="email">Enter your email:</label>
            <br>
            <input id="email" name="email" value="{{user.email}}" placeholder="{{user.email}}" type="email" required>
        </div>
        <div>
            <label for="phone">Enter your phone:</label>
            <br>
            <input id="phone" name="phone" type="number" required>
        </div>
        <div>
            <label for="comment">Additional comment on your reservation:</label>
            <br>
            <textarea name="comment" name="comment" id="" rows="5"></textarea>
        </div>
        <div id="submitButton">
            <button id="submit" type="submit">Submit</button>
        </div>
    </div>
</form>

{% for reservation in reservations %}

    {{reservation.id}}
    {{reservation.name}}
    {{reservation.comment}}
    <br>
{% endfor %}

{% if user.is_authenticated %}   
    <div id="your_reservations">
        <h2>Your reservations:</h2>   
        {% for date in dates %}

                <li id="reservation_list" class="your_booked-dates" hidden>
                    <p>You booked Table {{date.table}} for {{ date.reservation_date|date:"F j, Y" }}
                        <button id="edit{{ date.id }}" onclick="edit('{{ date.id }}')" type="edit">Edit</button>
                        <button id="delete_comment_btn{{ date.id }}" onclick="open_delete_window('{{ date.id }}')">Delete</button>
                        <div id="delete_date{{ date.id }}" hidden>
                            <p>Are you shure?</p>
                            <a href="/delete/{{ date.id }}">
                                <button>Delete</button>
                            </a>
                            <button onclick="close_delete_window('{{ date.id }}')">No</button>
                        </div>                      
                    </p> 
                    <form method="POST" id="edit_form" >
                        {% csrf_token %}
                        <div id="edit_reservation" hidden>
                            
                            <div>
                                <label for="new_phone">Change your phone:</label>
                                <br>
                                <input id="new_phone" name="new_phone_number" type="number">
                            </div>
                            <div>
                                <label for="new_comment">Edit additional comment on your reservation:</label>
                                <br>
                                <textarea name="new_comment" name="new_comment" id="new_comment" rows="5"></textarea>
                            </div>
                            <div id="buttons">
                                <a href="/edit/{{ date.id }}">
                                    <button type="submit">Edit</button>
                                </a>
                                <div id="close_button">
                                    <button type="button" onclick="close_edit_container()">Cancel</button>
                                </div>
                                
                            </div>
                            
                        </div>
                    </form>      
                </li>  
                
        {% endfor %} 
    </div>
    
{% else %}
    <div id="your_reservations">
        <h2>To manage your reservations please register with same email you gave for reservation.</h2>
    </div>
{% endif %}


{%endblock%}