{% extends "base.html" %}

{% block content %}

<form method="post" action="">
    {% csrf_token %}
    
    <div  id="date-container">
        <label for="start">Resve your table:</label>

        <input type="date" id="date" name="reservation_date"
            value="new Date()"
            min="new Date()" max="2030-12-31">
    </div>
    <div id="tables">
        <label class="labl">
            <input type="radio" name="Table" value="1"/>
            <div class="Table" id="Table1">Table 1</div>
        </label>
        <label class="labl">
            <input type="radio" name="Table" value="2" />
            <div class="Table" id="Table2">Table 2</div>
        </label>
        <label class="labl">
            <input type="radio" name="Table" value="3"/>
            <div class="Table" id="Table3">Table 3</div>
        </label>
        <label class="labl">
            <input type="radio" name="Table" value="4" />
            <div class="Table" id="Table4">Table 4</div>
        </label>
        <label class="labl">
            <input type="radio" name="Table" value="5"/>
            <div class="Table" id="Table5">Table 5</div>
        </label>
    </div>
    <div id="submitButton">
        <button id="submit" type="submit">Submit</button>
    </div>
</form>


{%endblock%}